.app {
  text-align: center;
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  color: #fff;
	background-color: cadetblue;
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

.login-container{
 
  width:30%;
 height: 50vh;
  background-color:#fff;
}